<h2> Details of: {{character}}</h2>
<div flex layout-padding class="whiteframe-details" ng-cloak>
    <md-whiteframe class="md-whiteframe-1dp" layout="row" flex>
        <div layout="row" layout-xs="column" flex class="details-container">
            <div layout="column" flex-xs="auto" flex-gt-xs="50">
                <div layout="column"><kanji-preview></kanji-preview></div>

                <span>Meaning: {{details.kanji.meaning.english}}</span>
                <span>Strokes: {{details.kanji.strokes.count}}</span>
                <span>Radical: <img ng-src="{{details.radical.image}}" alt="image" class="radical-preview"></span>
            </div>
            <div layout="column" flex="auto">
                <span>Katakana: {{details.kanji.onyomi.katakana}} ({{details.kanji.onyomi.romaji}})</span>
                <span>Hiragana: {{details.kanji.kunyomi.hiragana}} ({{details.kanji.kunyomi.romaji}})</span>
            </div>
        </div>
    </md-whiteframe>
</div>