    <img ng-src="{{kanjiImage}}" alt="{{character}}" class="kanji-image">
    <div layout="row" flex class="myButtons">
        <div flex="50">
        <md-button class="md-icon-button md-accent" aria-label="Previous" ng-click="previous()">
                <md-icon class="material-icons">fast_rewind</md-icon>
        </md-button>
        </div>
        <div flex="50">
        <md-button class="md-icon-button md-accent" aria-label="Next" ng-click="next()">
                <md-icon class="material-icons">fast_forward</md-icon>
        </md-button>
        </div>
    </div>
     
    <!--<span class="kanji-preview-container"><img ng-repeat="image in details.kanji.strokes.images" ng-src="{{image}}" class="kanji-preview"></span>-->