<h2> Details of: {{character}}</h2>
<div flex layout-padding class="whiteframe-details" ng-cloak>
    <md-whiteframe layout-padding class="md-whiteframe-10dp" layout="row" flex>
        <div layout="row" layout-xs="column" flex class="details-container" layout-padding>
            <div layout="column" flex-xs="auto" flex-gt-xs="50">
                <kanji-preview flex="auto"></kanji-preview>

                <legend>Meaning</legend>
                    <span>{{details.kanji.meaning.english}}</span>
                <legend>Strokes</legend>
                    <span>{{details.kanji.strokes.count}}</span>
                <legend>Radical</legend>
                <div layout="row" layout-margin class="radical-preview" layout-align="space-around">
                    <span><img ng-src="{{details.radical.image}}"></span>
                    <div layout="column">
                        <span ng-mouseover="showRomaji()" 
                              ng-mouseleave="showHiragana()">{{pronunciation}}</span>  
                        <span>{{details.radical.meaning.english}}</span>
                        <span>{{details.radical.strokes}}</span>
                    </div> 
                    <span ng-click="nextHint()"><img ng-src="{{radicalHint}}"></span>
                </div>
                
            </div>
            <div layout="column" flex="auto" flex-gt-xs="50">
                <div>
                    <legend>On'yomi</legend>
                    <span>{{details.kanji.onyomi.katakana}} ({{details.kanji.onyomi.romaji}})</span>
                </div>
                <div>
                    <legend>Kun'yomi</legend>
                    <span>{{details.kanji.kunyomi.hiragana}} ({{details.kanji.kunyomi.romaji}})</span>
                </div>
                <div>
                    <legend>References</legend>
                    <div layout-xs="column" layout="row" layout-align-gt-xs="space-around">
                        <span>Grade: {{details.references.grade}}</span>  
                        <span>Kodansha: {{details.references.kodansha}}</span>
                        <span>Nelson: {{details.references.classic_nelson}}</span>
                    </div>
                </div>
                <kanji-examples></kanji-examples>
            </div>
        </div>
    </md-whiteframe>
</div>