md-input-container .md-errors-spacer {
    display: none;
}

.my-toolbar {
    min-height: 64px;
    max-height: 64px;
}

.title > a:hover{
    color: #ffe6ea;
}

.title > a:focus {
    outline: none;
    border: 0;
}